body {
    height: 720px;
    width: 1220px;
}

.navbar {
    background-color: #523b50;
    width: 1258px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    margin-right: -15px;
    margin-top: -10px;
    padding: 5px;
    padding-left: 10px;
}

.navlinks {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-right: -260px;
}

.logo {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cornsilk;
    position: relative;
    margin-right: 300px;
    margin-left: -500px;
    padding-top: 30px;
    margin-top: 10px;
}

.flex-items {
    margin-left: 60px;
}  

a {
    text-decoration: none;
    color: cornsilk;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5px;
}

.container {
    background-color: #523b50;
    margin-left: -8px;
    margin-right: -20px;
    padding: 8px;
    height: 300px;
    width: 1255px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-right: -10px;
}

h1 {
    color: cornsilk;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-left: 80px;
}

.paragraph {
    color: #FFFDF6;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 80px;
    margin-top: -20px;   
}

#button {
    background-color: dodgerblue;
    color: ghostwhite;
    width: 130px;
    height: 28px;
    border-radius: 8px;
    border: none;
    margin-left: 80px;
}

.image {
    width: 410px; 
    height: 220px;
    color: ghostwhite;
    text-align: center;
    border: none;
    font-weight: lighter;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    margin-left: 520px;
    margin-top: -280px;
    padding: 80px;
    padding-bottom: 45px;
}

h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.containertwo {
    display: flex;
    height: 300px;
    background-color: white;
 }

.gallery {
    border: 5px solid #523b50;
    border-radius: 10px;
    margin-left: 40px;
}

.imgcap {
    text-align: center;
    line-break: strict;
    font-size: 14px;
    margin-right: 69px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    margin-left: 70px;
}

.containerthree {
    height: 220px;
    margin-right: -40px;
    margin-left: -20px;
    padding-bottom: 50px;
    background-color: #d3d3d3;
}

#quote {
    font-size: 20px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.caption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: right;
    margin-right: 350px;
    margin-top: 20px;
}

.action {
    height: 200px;
    color: white;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

.actioncontainer {
    width: 900px;
    height: 100px;
    background-color: dodgerblue;
    padding-top: 10px;
    margin-top: 80px;
    margin-left: 170px;
    border-radius: 10px;
}

#buttontwo {
    height: 23px;
    width: 110px;
    color: white;
    background-color: dodgerblue;
    border: white solid 1px;
    border-radius: 5px;
    position: absolute;
    margin-left: 700px;
    margin-top: -40px;
    padding: 3px;
}

.click {
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 80px;
    font-weight: lighter;
    font-size: 14px;
}

h3 {
    margin-left: 80px;
    margin-top: 30px;
}

footer {
    height: 60px;
    background-color: #523b50;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 15px;
    margin-left: -20px;
    margin-right: -42px;
}
